%h2 Checkout page
%h3 My Cart Items:
- if @empty_cart
  %p Your cart is empty
- else
  %ul
    - @items.each do |item|
      %li Restaurant: #{item[1]['name']}
      %li Dish: #{item[0]['name']}
      %li Price: #{item[0]['price']}
  %h5 Total price: #{@total_price}
